@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,600,400italic);



/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1.3;
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
    color: rgb(0, 0, 0); /* 字 */
    min-height: 100%;
}

body,
html {
    height: 100%;
    margin: 0;
}

h1 {
    display: block;
}

h4{
    margin: 0 auto;
}
.center_contain{
    display: flex;
    align-items: center;
    justify-content: center;
}

a {
    text-decoration: none;
    color: black;
}





.skip-links {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.skip-links a {
    position: absolute;
    top: -3em;
    background-color: white;
    color: red;
    padding: .5em .75em;
    font-weight: bold;
}

.skip-links a:focus {
    top: 0;
}

/* Header */
.em_btn{
    background-color: #8E8E8E;
    font-weight: bold;
    border-radius: 4px;
    margin: 8px;
    padding: 0.2%;
}




/*certificate's header
#top{
    /* header的邊框 
    border: 2px solid #000000;
}*/

/* social links */
.social {
    margin: 20px 0;
    padding: 0;
 }
.social li {
    display: inline-block;
    margin: 0 5px;
 }
/*圖片大小設定
.social li a {
    border: 2px solid #000000; 
} */
.social li a img {
    width: 50%;
    padding: 5px;
} 




/* Logo */
.logo {
    margin: auto;
    max-width: 90%;
    display: block;
}

.logo img {
    height: auto;
    padding-top: 3%;
    max-width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* navigation */

nav{
    padding: 0px;
    margin: 0%;
    letter-spacing: 2px;
    background-color: rgb(205, 216, 191);
    font: 16px;
    font-family: sans-serif;
    width: 100%;
    border-top: 2px solid #000000;
    border-bottom: 2px solid #000000;
}
/* hide toggle button */
nav > a.mobile-btn { display: none; }

nav ul {
    display: block;
    padding: 0;
    margin: 0;
}

nav ul li {
    list-style: none;
    padding: .2em;
    text-align: center;
    line-height: 30px;
}

nav ul li a {/*不是目前頁面的btn*/
    text-decoration: none;
    color: 	#ffffff;
    font-size: 1.2em;
    padding: .5em 1em;
    font-weight: lighter;
}



/* Index page */
/* */
.main-content-index {
    background: url("../img/3028.jpg") no-repeat;
    background-color: white;
    background-size: 100% 100%;
    height: 90vh;
}

.full_mode{
    background: transparent;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

/* Text of Home Page */

.my_word {
    color: black;
    padding: 5%;
    line-height: 15px;
    text-align: center;
    font-weight: 200 !important;
}
.main_word{
    font-size: 30pt;
    font-family:fantasy;
    font-weight: bold;
}

.greet{
    color: #5B5B5B;
    font-size: 14pt;
    font-weight: bold;
    margin: 2px;
}


/* About Page */
.main-content-about h1 {
    text-align: center;
    font-size: 2em;
}

.section {
    padding: 1% 5%;
    margin: 5% auto;
}



.my_pic {
    width: 75%;
    height: 80%;
    /*照片垂直置中 https://pjchender.github.io/2019/06/03/css-%E5%9E%82%E7%9B%B4%E7%BD%AE%E4%B8%AD%E7%9A%84%E6%96%B9%E6%B3%95/
    display: block; 
    margin: auto;*/
}

.job{
    background: url("../img/background.jpg");
}

.img_center{
    display:  flex;
    align-items: center;
    justify-content:  center;
}

.mb-3{
    font-size: 13pt;
    margin-bottom: 0px;
    color: #000000;
    font-family: Microsoft YaHei;
}

.mb-4{
    color: #5B5B5B;
    font-family: Microsoft JhengHei;
    font-weight: bold;
    font-size: 13pt;
    margin-bottom: 0px;
}

.mb-5{
    font-size: 20pt;
    text-align: center;
    font-weight: bold;
    color: #000000;
    font-family: Microsoft JhengHei;
}

.mb-6{
    font-family: Microsoft JhengHei;
    font-size: 16pt;
    font-weight: bold;
    margin: 0px;
    color: #000000;
}

.title_center{
    font-family: Microsoft JhengHei;
    padding-top: 15px;
    font-size: 20pt;
    font-weight: bold;
    text-align: center;
}

div p{
    font-family: Microsoft JhengHei;
}
.item_font{
    color: #3d3d3d;
    font-family: Microsoft JhengHei;
    line-height: 30px;
    font-size: 12pt;
    font-weight: bold;
}    

/* progress bar 
	box-shadow: inset 0 -1px 1px rgba(255,255,255,0.3);*/
.meter { 
    
    height: 20px;
    width: 70%;
	background: rgb(92, 92, 92);
	-moz-border-radius: 25px;
	-webkit-border-radius: 25px;
	border-radius: 20px;
    margin: 2% 0% 2% 15%;
}

.meter > span {
    display: block;
    height: 100%;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    background-color: rgb(12, 197, 27);
    background-image: linear-gradient(
      center bottom,
      rgb(74, 238, 95) 37%,
      rgb(174, 253, 178) 69%
    );
    /*box-shadow: 
      inset 0 2px 9px  rgba(255,255,255,0.3),
      inset 0 -2px 6px rgba(0,0,0,0.4);
    position: relative;
    overflow: hidden;*/
  }

/* lightbox */
.gallery {
    width: 90%;
    border: 5px solid rgb(22, 1, 1);
    margin: 0 auto;
    
}

.gallery img {
    width: 100%;
}

.item {
    border: 4px solid rgb(58, 58, 58);
}


.heading {
    text-align: center;
    margin: 3% auto;
}


.main-container {
    display: grid;
}



/* Footer */

footer {
    background-color: rgb(0, 0, 0);
    display: block;
    padding: 2px;
    text-align: center;
}

footer p {
    font-size: 1em;
    padding: 0.4em;
    margin: 0px;
    color: #ffffff;
}

footer a {
    color: white;
}

.top_btn{
    background-color: darkgrey;
    border-radius: 20px;
    padding: 2px;
}
